

#open-sans-noraml {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

                               /* Part One */
                        /* header navgation style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.design-inside-text{
    color: #FD6E0A;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
    padding: 18px 35px;
}

                               /* Part Two */
                             /* Banner style */
#header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;;
}

#banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-greetings{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-content{
    max-width: 585px;
}

.banner-title{
    /* color: #181818; */
    font-size: 78px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
}

.banner-image{
    width: 584px;
    height: 676px;
}

                           /* Three Two */
                             /* About */
main{
    max-width: 1140px;
    margin: 0px auto;
} 

#about{
    background-color: #FFF8F3;;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

#about-me-container{
    background-color: #FFFFFF;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;

}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
}

.section-descrption{
    color: #757575;
    font-size: 18px;
}

#about-my-infotmation{
    display: flex;
    justify-content: space-around;
}

.iteam-title{
    font-size: 20px;
    color: #757575;
}

.iteam-discription{
    font-size: 20px;
    font-weight: bold;
}