

#open-sans-noraml {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

                               /* Part One */
                        /* header navgation style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.design-inside-text{
    color: #FD6E0A;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
    padding: 18px 35px;
}

                               /* Part Two */
                             /* Banner style */
#header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

#banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-greetings{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-content{
    max-width: 585px;
}

.banner-title{
    /* color: #181818; */
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    color: #757575;
    font-size: 18px;
}

.banner-image{
    width: 584px;
    height: 676px;
}
